@model  MiniBookApp.Controllers.HomeController.ViewModel
@{
    ViewData["Title"] = "Accueil";
}
<div class="main-div">
    
    <div class="table-div" id="table-div">
      @foreach (var post in Model.Posts)
      {
          <div class="card">
              <h3>@post.Auteur.Nom @post.Auteur.Prénom</h3>
              <p>@post.Contenu </p>
              <p style="color: var(--dark-grey); font-size: 0.8rem;"> @post.DatePublication </p>
          </div>
      }
    </div>
    <br/>

    <div class="form-div">
        <h3 style="margin: 1rem"> Publier un post : </h3>
        <form id="form" method="post">
            <input id="auteurId" name="auteurId" type="number" hidden="hidden" value="1"/> 
            <textarea id="contenu" name="contenu" maxlength="280" asp-for="NewPost.Contenu"></textarea>  <br/>
            <button type="submit"> Envoyer </button>  <br/>
        </form>
    </div>
    <div id="output"></div>
</div>